#three-canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
   }

#overlay-div{
    position: sticky;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:0;
    left:0;
    min-height: 75vh;
    height: 80%;
    width: 80%;
    margin: auto;
    outline:solid;
    outline-width: 3px;
    outline-color: white;
    background-color: rgba(240, 250, 230, 0.4);
}

#inside-overlay-left{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    left:0;
    margin-right: 30%;
    margin-left:0%;
}
#inside-overlay-left p{
    color: black;
}
#inside-overlay-left h1{
    color: black;
}

#inside-overlay-right{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    right:0;
    margin-left: 30%;
}

#inside-overlay-right h3{
    color: black;
}
#inside-overlay-right p{
    color: black;
}