/*color palette*/
    .rasperry-rose { color: #B8336A; }
    .rasperry-rose { color: #D1C6AD; }
    .rasperry-rose { color: #52796F; }
    .rasperry-rose { color: #C490D1; }
    .rasperry-rose { color: #E8D710; }


body{
    width: 100vw;
    height: 100vh;
    background-color:blanchedalmond;
    margin:0px;
    display: grid;
    place-items: center;
}
nav{
    width: 100%;
    height: 10%;
    top:0;
    margin-bottom: 0;
    margin-top: 0;
    grid-row-start: 0;
    grid-row-end: 1;

}
nav a {
    left:0;
    top:0;
    text-decoration: none;
    color: #52796F;
}:hover{
    color: #C490D1;
}
img{
    position:relative;
    max-width: 100%;
    max-height: 100%;
}
#wrapper{
    aspect-ratio: 1.619;
    width:90vmin;
    position: relative;
    top:0;
    margin-top: 0;
    padding-top: 0;
}

#wrapper > .item{
    position: absolute;
    transition: left,top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}
.item .tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.item:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
.item .tooltip-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/*standard appearance colors*/
#wrapper > .item:nth-child(1){
    background-color:#B8336A ;
}
#wrapper >.item:nth-child(2){
    background-color:#D1C6AD ;
}
#wrapper >.item:nth-child(3){
    background-color: #E8D710;
}
#wrapper >.item:nth-child(4){
    background-color:#C490D1;
}

/*hover effect*/
#wrapper > .item:nth-child(1):hover{
    background: #6e5494;
    /* background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(184,51,106,1) 50%, rgba(252,176,69,1) 100%); ; */
    background-image: url("/arcadeGame/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#wrapper >.item:nth-child(2):hover{
    background-image: url("/dataStory/pics/MoneyPattern.png");
    background-repeat: no-repeat;
    background-position: center;

}
#wrapper >.item:nth-child(3):hover{
    background-image: url("../img/pitaPit.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#wrapper >.item:nth-child(4):hover{
    /* background: rgb(196,144,209);
    background: radial-gradient(circle, rgba(196,144,209,1) 0%, rgba(184,51,106,1) 50%, rgba(252,176,69,1) 100%); */
    background-image: url("../img/intro.png");
    background-position: center;
    background-repeat: no-repeat;
}



/*roundess data*/
#wrapper[data-roundness = "1"] > .item {
    border-radius: 6rem;
}
#wrapper[data-roundness = "2"] > .item {
    border-radius: 0rem;
}
#wrapper[data-roundness = "3"] > .item {
    border-radius: 30em;
}

/*config 1*/
#wrapper[data-configuration = "1"] > .item:nth-child(1){
    left:0;
    top: 20%;
    height: 100%;
    width: 20%;
}
#wrapper[data-configuration = "1"] > .item:nth-child(2){
    left:20% ;
    top: 0%;
    height: 100%;
    width: 20%;
}
#wrapper[data-configuration = "1"] > .item:nth-child(3){
    left:40% ;
    top: 10%;
    height: 100%;
    width: 20%;
}
#wrapper[data-configuration = "1"] > .item:nth-child(4){
    left:60%;
    top:20%;
    height: 100%;
    width: 20%;
}
