/*Planta Theme Colors*/
.PLANTA-Web-Design-1-hex { color: #66A3D9; }
.PLANTA-Web-Design-2-hex { color: #455931; }
.PLANTA-Web-Design-3-hex { color: #F2D0A7; }
.PLANTA-Web-Design-4-hex { color: #8C6542; }
.PLANTA-Web-Design-5-hex { color: #0D0D0D; }

/*elements*/
img{
    width: auto;
    height:150px;
    border-radius: inherit;
    margin:auto;
}
body{
    background: repeating-linear-gradient(
  45deg,
  #F2D0A7,
  #F2D0A7 18px,
  #455930,
  #455931 20px
);
}
iframe{
    width:100%;
    height:300px;
  }
nav{
    display:grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a{
    color:#66A3D9;
    text-decoration: none;
}
a:hover{
    color:#8C6542;
}
h3:hover{
  color:#8C6542
}
hr{
  border-top: 15px solid ;
  padding:0;
  margin:0;
}
form{
  display:flex;
  text-align: center;
  flex-direction: column;
  margin:auto;
  flex-grow:inherit;
}
/*classes*/
.grid-container {
    background-color: ivory;
    border-color:#8C6542;
    display: flex;
    flex-flow: column wrap;
    color:#455931;
    padding: 10px;
    margin-top:100px;
    border-radius: 25px;
  }
.grid-item {
    display:block;
    color:#8C6542;
    font-size: inherit;
    padding:10px;
    margin:15px;
    border: solid 5px;
    text-align: left;
    border-radius: 50px;
    background-color: ivory;
  }
.grid-item-head{
      color:#455931;
      grid-row:1;
      text-align: justify;
      padding-bottom: 20px;
  }
.grid-sidebar{
    display:flex;
    flex-flow: row wrap;
    color:#455931;
    border: 5px solid  ;
    padding: 0px;
    font-size: 30px;
    margin:0px;
    text-align: center;
    border-radius: 50px;
    background-color: ivory;
    border-color: #8C6542 ;
    height:200px;
    
  }

.flex-grid{
  background-color: ivory;
  border-color:#8C6542;
  border-radius: 50px;
  display:flex;
  flex-flow:row wrap;
  text-align: center;
  flex-grow: 1;
  align-items: baseline;
  
}

/*ids*/
#invisible-container{
  background-color: transparent;
  border: 0;
}
#pictures{
 margin:5%;
}
/*unused*/
.flex-container{
flex-basis:content;
align-self:right;

/*Headers and fonts*/
}
h1{
  font-family: 'Fjalla One', sans-serif;
  color:#455931;
  font-size: larger;
  
}
h2{
  font-family: 'Dancing Script', cursive;
  color:#455931;
  font-size: large;
}
h3{
  font-family: 'Catamaran', sans-serif;
  color:#455931;
  font-size: larger; 
  
}
h4{
  font-family: 'Raleway', sans-serif;
  font-size: small;
}
h5{
  font-family: 'Oswald', sans-serif;
  font-size: smaller;
}
h6{
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
}
p{
  font-family: 'Lora', serif;
  color:#455931;
}
